<div class="mapContainer">
<div id="mapContent">
        <div *ngFor="let item of getData.content.images" class="imageWidget">
            <img [src]="item.url" alt="{{item.title}}"/>
        </div>
        <div *ngFor="let item of getData.content.label" class="labelWidget">
            <div>{{item.text}}</div>
        </div>
        <div *ngFor="let item of getData.content.label" class="spaceWidget">
            <div>{{item.header}}</div>
            <div *ngIf="item.showDemo">
                <iframe [src]="item.demo"></iframe>
            </div>
            <div *ngIf="item.showCode">
                <iframe [src]="item.code"></iframe>
            </div>
            <div *ngIf="item.showTeam">
                <iframe [src]="item.team"></iframe>
            </div>
        </div>
        <div *ngFor="let item of getData.content.iframes" class="iframeWidget">
            <iframe [src]="item.url"></iframe>
        </div>
        <div *ngFor = "let user of getData.userList;" class="userContainer" [ngStyle]="{top:user.y,left:user.x}">
            <div class="userBoxEffect" [ngStyle]="{
                'box-shadow': user.talking ? 
                '0px 0px 30px 3px #3da942' : 
                '0px 0px 9px 3px #dedede'
            }">
                <i class="fas fa-user-ninja NoPic"></i>
                <div class="UserName">
                    {{user.name}}
                </div>
            </div>
            <div class="userBox">
                <video width="100%" height="100%" id="userBox_{{user.id}}"  [ngStyle]="{opacity: user.cam ? 1 : 0}" [muted]="'muted'" autoplay></video>
            </div>
        </div>


        <div id="localUser" class="userContainer">
            <div class="userBoxEffect" [ngStyle]="{
                'background-color': !getData.userLock ? '#141130': '#743030',
                'box-shadow': getData.talking ? 
                '0px 0px 30px 3px #3da942' : 
                '0px 0px 9px 3px #dedede'
            
            }"
            >
                <i class="fas fa-user-ninja NoPic"></i>
                <div class="UserName">
                    {{getData.localUser}}
                </div>
            </div>
            <div class="userBox">
                <video width="100%" height="100%" id="userBox_local"  [ngStyle]="{opacity: getData.cam ? 1 : 0}" [muted]="'muted'" autoplay></video>
            </div>
        </div>


</div>
</div>