<div class="mapContainer">
<div id="mapContent">

    <div *ngFor="let item of getData.content.images" 
        class="imageWidget"
        [ngStyle]="{
            left:item.x+'px' , 
            top:item.y+'px' , 
            width:item.w+'px' , 
            height:item.h+'px' 
        }"
        >
            <img [src]="item.url" alt="{{item.alt}}"/>
        </div>

        <div *ngFor="let item of getData.content.borders" class="borderWidget"  
        [ngStyle]="{
            left:item.x+'px' , 
            top:item.y+'px' , 
            width:item.w+'px' , 
            height:item.h+'px', 
            'border-radius': item.r
        }">
        </div>
        
       <div *ngFor="let item of getData.content.iframes" class="iframeWidget"  
        [ngStyle]="{
            left:item.x+'px' , 
            top:item.y+'px' , 
            width:item.w+'px' , 
            height:item.h+'px'
        }">
        <div *ngIf="!item.github" style="height:100%;">
            <iframe [src]="item.url"></iframe>
        </div>
        <div *ngIf="item.github" class="githubCard" (click)="openPage(item.url)">
            <img [src]="item.pic"/>
            <div class="data">
                <diV class="git_title">
                    {{item.name}}
                </diV>
                <div class="git_desc">
                    {{item.description}}
                </div>
                <div class="github">
                    <img src="assets/github.png" alt="github"/>
                </div>
            </div>
           
        </div>

        </div>



        <div *ngFor="let item of getData.content.label" 
        class="labelWidget"
        [ngStyle]="{
            left:item.x+'px' , 
            top:item.y+'px'
        }"
        
        >
            <div>{{item.text}}</div>
        </div>

        <div *ngFor="let item of getData.content.urls" 
        class="urlWidget"
        [ngStyle]="{
            left:item.x+'px' , 
            top:item.y+'px'
        }"
        
        >
            <div (click)="openPage(item.url)">{{item.text}}</div>
        </div>
        
        <div *ngFor="let item of getData.content.likeCounter" 
        class="counterWidget"
        [ngStyle]="{
            left:item.x+'px' , 
            top:item.y+'px' , 
            width:item.count == 0 ? '430px' : item.w+'px' , 
            height:item.h+'px' 
        }"
        
        >
            <div id="counter_{{item.id}}">
            {{   
                item.count == 0 ? "Show Some Love" :
                item.count == 1 ? "1  Love" :
                item.count + " Loves" 
            }}
            </div>
        </div>

        <div *ngFor="let item of getData.content.likeBtn" 
        class="heartWidget" 
        [ngStyle]="{
            left:item.x+'px' , 
            top:item.y+'px'
        }"
        >
            <i (click)="updateLove($event, item.id)" class="icon-heart"></i>
        </div>

        <div *ngFor="let user of getData.userList" class="userContainer" [ngStyle]="{top:user.y,left:user.x}">
            <div class="userBoxEffect" [ngStyle]="{
                'box-shadow': user.talking ? 
                '0px 0px 30px 3px #3da942' : 
                '0px 0px 9px 3px #dedede'
            }">
                <i class="fas fa-user-ninja NoPic"></i>
                <div class="UserName">
                    {{user.name}}
                </div>
            </div>
            <div class="userBox">
                <video width="100%" height="100%" id="userBox_{{user.id}}"  [ngStyle]="{opacity: user.cam ? 1 : 0}" [muted]="'muted'" autoplay></video>
            </div>
        </div>


        <div id="localUser" class="userContainer">
            <div class="userBoxEffect" [ngStyle]="{
                'background-color': !getData.userLock ? '#141130': '#743030',
                'box-shadow': getData.talking ? 
                '0px 0px 30px 3px #3da942' : 
                '0px 0px 9px 3px #dedede'
            
            }"
            >
                <i class="fas fa-user-ninja NoPic"></i>
                <div class="UserName">
                    {{getData.localUser}}
                </div>
            </div>
            <div class="userBox">
                <video width="100%" height="100%" id="userBox_local"  [ngStyle]="{opacity: getData.cam ? 1 : 0}" [muted]="'muted'" autoplay></video>
            </div>
        </div>


</div>
</div>